.form-one-container, .form-two-container {
    display: flex;
    width: fit-content;
    border-radius: 5px;
    padding-block: 20px;
    padding-inline: 35px;
    margin: auto;
    background-color: 	#b6d96c;
}

.form-one, .form-two {
    margin: auto;
}
.form-one input, .form-two input{
    margin-bottom: 10px;
    margin-inline: auto;
    padding: 4px;
}

.submitbttn {
    margin-top: 10px;
    display: flex;
    align-items: center;
    /* margin: auto; */
}